body {
    background-color: #97d5c8;
}

.wrap {
    margin-top: 50px;
}

.single-item {
    width: 500px;
}

.slick-slider {
    margin: 0 auto;
}

.slick-slide {
    outline: none !important;
}